:root, [data-bs-theme=light] {
  --bs-body-bg: rgb(39,38,46);
  --bs-body-bg-rgb: 39,38,46;
  --bs-link-color: #ffffff;
  --bs-link-color-rgb: 255,255,255;
  --bs-link-hover-color: #19f5aa;
  --bs-link-hover-color-rgb: 25,245,170;
}

[data-bs-theme=dark] {
  --bs-link-color: #ffffff;
  --bs-link-color-rgb: 255,255,255;
  --bs-link-hover-color: #19f5aa;
  --bs-link-hover-color-rgb: 25,245,170;
}

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-2 {
  margin-bottom: .5rem !important;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

.ms-auto {
  margin-left: auto !important;
}

.p-1 {
  padding: .25rem !important;
}

.p-5 {
  padding: 3rem !important;
}

.px-4 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}

.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.py-4 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.py-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.pt-3 {
  padding-top: 1rem !important;
}

@media (min-width: 768px) {
  .px-md-5 {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
  }
}

@media (min-width: 992px) {
  .mx-lg-5 {
    margin-left: 3rem !important;
    margin-right: 3rem !important;
  }
}

@media (min-width: 992px) {
  .mb-lg-5 {
    margin-bottom: 3rem !important;
  }
}

@media (min-width: 992px) {
  .p-lg-5 {
    padding: 3rem !important;
  }
}

@media (min-width: 992px) {
  .py-lg-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}

@media (min-width: 1200px) {
  .py-xl-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}

