@font-face {
	font-family: 'DSEG7 Classic Regular';
	src: url(../../assets/fonts/DSEG7ClassicRegular.woff) format('woff'),
	url(../../assets/fonts/DSEG7ClassicRegular.ttf) format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: auto;
}