@font-face {
  font-family: "DSEG7";
  src: url("/fonts/DSEG7Classic-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.dseg {
  font-family: "DSEG7", monospace;
  letter-spacing: 0.15em;
}
