<footer class="siteFooter">
  <div class="siteFooter__inner">
    <div>Computer Science Concept Simulators</div>
    <div>© 2025 Computing:Box · Created with ❤️ by Mr Lyall</div>
    <div>Powered by ADCM Networks</div>
  </div>
</footer>
