<header class="siteHeader">
  <div class="siteHeader__inner">
    <a class="brand" href="/">Computing:Box</a>

    <nav class="nav">
      <a class="nav__link" href="/binary">Binary</a>
      <a class="nav__link" href="/hexadecimal">Hexadecimal</a>
      <a class="nav__link" href="/hex-colours">Hex Colours</a>
      <a class="nav__link" href="/logic-gates">Logic Gates</a>
      <a class="nav__link" href="/about">About</a>
    </nav>
  </div>
</header>
