<footer class="site-footer">
  <div class="site-footer__inner">
    <div class="site-footer__text">
      COMPUTER SCIENCE CONCEPT SIMULATORS<br />
      © 2025 COMPUTING:BOX • CREATED WITH ♥ BY MR LYALL
    </div>
  </div>
</footer>
