<header class="site-header">
  <div class="site-header__inner">
    <a class="brand" href="/">
      <span class="brand__name">Computing:Box</span>
    </a>

    <nav class="nav">
      <a href="/about/">About</a>
      <a href="/binary/">Binary</a>
      <a href="/hexadecimal/">Hexadecimal</a>
      <a href="/hex-colours/">Hex Colours</a>
      <a href="/logic-gates/">Logic Gates</a>
    </nav>
  </div>
</header>
