---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const { title = "Computing:Box" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{title}</title>

    <!-- Global site styling -->
    <link rel="stylesheet" href="/styles/site.css" />

    <!-- Page specific styles can be added by each page -->
    <slot name="head" />
  </head>

  <body>
    <Header />
    <main class="page">
      <slot />
    </main>
    <Footer />
  </body>
</html>
